body,
html {
    height: 100%;
}


/*HOME PAGE*/

.navbar-toggler {
    border: none;
}

#banner {
    background-color: transparent !important;
    color: white;
    padding: 1em;
    text-align: center;
}

.intro {
    background: url("../img/Intro.jpg")no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    height: 150%;
}

.nav-item {
    padding: 0 2em;
}

.nav-item a {
    font-family: 'Roboto Slab', serif;
}

.nav-link {
    font-size: 1.5em;
}

.jumbotron {
    background-color: transparent !important;
    color: white;
    padding-top: 10%;
    text-align: center;
}

.card {
    margin: 2% auto;
    text-align: center;
    border: none;
    position: normal;
}

.infoCards {
    background-color: #F7F7F7;
}

.infoContactCards {
    background-color: #EEF0E4;
}


/*HOME PAGE*/


/*SERCIVES PAGE*/

.navbar {
    position: sticky;
}

.jumbotron p {
    margin: 0;
}

.center-vertically {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/*SERCIVES PAGE*/

#bodyServices {
    background: url("../img/ServiciiBackground.jpg")no-repeat center center fixed;
    background-size: cover;
}


/*ABOUT US PAGE*/

.introAboutUs {
    background: url("../img/aboutImage.jpg")no-repeat center center fixed;
    height: 50%;
}


/*ABOUT US*/

#AboutUs {
    min-height: 75%;
    background-color: #1874CD;
    color: white;
    box-sizing: border-box;
    padding: 1px;
}

#AboutUsImage {
    background: url("../img/AboutUs.jpg")no-repeat center center fixed;
    background-size: cover;
    height: 60%;
}

#AboutUsTitle{
    text-align: center;
    font-size: 4em;

}

#AboutUsText {
    text-align: center;
}


/*ABOUT US*/


/*CONTACT*/

#Contact {
    min-height: 20%;
    display: flex;
    background: url("../img/ContactBackground.jpg");
}

#ContactTitle {
    width: 40%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    float: left;
    background-color: blue;
    background: rgba(0, 33, 255, .75);
}

#ContactContent {
    width: 60%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    float: left;
    background: rgba(33, 51, 163, .75);
}

#ContactTitleColor {
    color: white;
    text-align: center;
    position: relative;
    top: 40%;
}

.ContactContentColor {
    color: white;
}

#InputName,
#InputEmail,
#InputSubject {
    margin: 2px;
}


/*CONTACT*/


/*Media for modifying tags at different resolutions*/

@media screen and (max-width: 800px) {
    .display-4 {
        font-size: 250%;
    }
    #Contact {
        display: block;
    }
    #ContactTitle {
        float: none;
        clear: both;
        position: normal;
        width: 100%;
        min-height: 40%;
        overflow: hidden;
    }
    #ContactContent {
        float: none;
        clear: both;
        position: normal;
        min-height: 60%;
        width: 100%;
        overflow: hidden;
    }
    .center-vertically {
        position: normal;
        top: 0;
        transform: translateY(0);
    }
}

@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);
figure {
    font-family: 'Oswald', Arial, sans-serif;
    position: relative;
    min-width: 230px;
    max-width: 315px;
    margin: 10px auto;
    width: 100%;
    background: #ffffff;
    text-align: center;
    color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
}

figure * {
    box-sizing: padding-box;
    transition: all 0.2s ease-out;
}

figure img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    background-color: #666666;
    padding-top: 40px;
}

figure figcaption {
    padding: 20px;
}

figure h3,
figure p {
    margin: 0;
}

figure h3 {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
}

figure p {
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 300;
}

figure .price {
    font-weight: 500;
    font-size: 1.4em;
    line-height: 48px;
    letter-spacing: 1px;
}

figure .price s {
    margin-right: 5px;
    opacity: 0.5;
    font-size: 0.9em;
}

figure i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 56px;
    line-height: 56px;
    text-align: center;
    border-radius: 50%;
    background-color: #666666;
    color: #ffffff;
    font-size: 36px;
}

figure a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

figure:hover i,
figure.hover i,
figure:hover img,
figure.hover img {
    background-color: #2980b9;
}

figure:hover i,
figure.hover i {
    transform: translate(-50%, 5px);
}